<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_0001_0_2_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,140},{74,72}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>player_0001_0_2_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,207},{56,78}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>player_0001_0_2_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{82,83}}</string>
                <key>offset</key>
                <string>{7,49}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>player_0001_0_2_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,96}}</string>
                <key>offset</key>
                <string>{-3,63}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>player_0001_0_2_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,145},{60,80}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>player_0001_0_2_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,75},{68,80}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>player_0001_0_2_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,87},{62,71}}</string>
                <key>offset</key>
                <string>{13,39}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>player_0001_0_2_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,151},{82,66}}</string>
                <key>offset</key>
                <string>{-11,33}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{84,66}</string>
            </dict>
            <key>player_0001_0_2_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,140},{72,83}}</string>
                <key>offset</key>
                <string>{12,49}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>player_0001_0_2_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{102,82}}</string>
                <key>offset</key>
                <string>{9,47}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>player_0001_0_2_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,214},{70,75}}</string>
                <key>offset</key>
                <string>{10,42}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>player_0001_0_2_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,219},{66,74}}</string>
                <key>offset</key>
                <string>{12,43}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>player_0001_0_2_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,214},{68,70}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>player_0001_0_2_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,142},{84,70}}</string>
                <key>offset</key>
                <string>{-17,42}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>player_0001_0_2_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,0},{92,70}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,70}}</string>
                <key>sourceSize</key>
                <string>{92,70}</string>
            </dict>
            <key>player_0001_0_2_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{106,75}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>player_0001_0_2_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,0},{88,73}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>player_0001_0_2_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,219},{76,64}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>player_0001_0_2_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,145},{72,68}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>player_0001_0_2_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,77},{60,84}}</string>
                <key>offset</key>
                <string>{-3,59}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>player_0001_0_2_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,0},{90,73}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>player_0001_0_2_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,0},{86,75}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,75}}</string>
                <key>sourceSize</key>
                <string>{88,75}</string>
            </dict>
            <key>player_0001_0_2_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,210},{76,68}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>player_0001_0_2_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,77},{70,61}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{72,61}</string>
            </dict>
            <key>player_0001_0_2_4_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,75},{68,78}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>player_0001_0_2_4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{60,97}}</string>
                <key>offset</key>
                <string>{5,63}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,97}}</string>
                <key>sourceSize</key>
                <string>{60,97}</string>
            </dict>
            <key>player_0001_0_2_4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,220},{64,88}}</string>
                <key>offset</key>
                <string>{4,54}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,88}}</string>
                <key>sourceSize</key>
                <string>{64,88}</string>
            </dict>
            <key>player_0001_0_2_4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,146},{80,62}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>player_0001_0_2_4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,77},{74,69}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{76,69}</string>
            </dict>
            <key>player_0001_0_2_4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,151},{66,62}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>player_0001_0_2_5_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,139},{58,80}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>player_0001_0_2_5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{96,85}}</string>
                <key>offset</key>
                <string>{3,52}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>player_0001_0_2_5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,77},{54,93}}</string>
                <key>offset</key>
                <string>{3,60}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,93}}</string>
                <key>sourceSize</key>
                <string>{56,93}</string>
            </dict>
            <key>player_0001_0_2_5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,214},{82,69}}</string>
                <key>offset</key>
                <string>{-19,37}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>player_0001_0_2_5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,217},{68,59}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>player_0001_0_2_5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,215},{58,67}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>player_0001_0_2_6_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,219},{66,71}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>player_0001_0_2_6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{108,63}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,63}}</string>
                <key>sourceSize</key>
                <string>{108,63}</string>
            </dict>
            <key>player_0001_0_2_6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,133},{84,85}}</string>
                <key>offset</key>
                <string>{-9,60}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>player_0001_0_2_6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,72},{68,85}}</string>
                <key>offset</key>
                <string>{-13,56}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>player_0001_0_2_6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,217},{64,58}}</string>
                <key>offset</key>
                <string>{-12,33}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>player_0001_0_2_6_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,0},{50,68}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>player_0001_0_2_7_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,148},{72,67}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>player_0001_0_2_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,65},{86,73}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>player_0001_0_2_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{92,81}}</string>
                <key>offset</key>
                <string>{-8,57}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,81}}</string>
                <key>sourceSize</key>
                <string>{92,81}</string>
            </dict>
            <key>player_0001_0_2_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,87},{62,89}}</string>
                <key>offset</key>
                <string>{-7,67}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,89}}</string>
                <key>sourceSize</key>
                <string>{64,89}</string>
            </dict>
            <key>player_0001_0_2_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,151},{58,66}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>player_0001_0_2_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,72},{54,72}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_0001_0_2.png</string>
            <key>size</key>
            <string>{1019,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e199e4957e6202528873cc01bc849834:e4ee60bd281739c4f68222455bd62ca5:e17c207c1e0d24faa10ece536322183b$</string>
            <key>textureFileName</key>
            <string>player_0001_0_2.png</string>
        </dict>
    </dict>
</plist>