<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_0001_1_8_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{54,74}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>player_0001_1_8_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,62},{52,73}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,73}}</string>
                <key>sourceSize</key>
                <string>{52,73}</string>
            </dict>
            <key>player_0001_1_8_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{60,67}}</string>
                <key>offset</key>
                <string>{11,39}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,67}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>player_0001_1_8_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,63}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>player_0001_1_8_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,56},{70,56}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>player_0001_1_8_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,114},{74,51}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,51}}</string>
                <key>sourceSize</key>
                <string>{76,51}</string>
            </dict>
            <key>player_0001_1_8_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,123},{58,54}}</string>
                <key>offset</key>
                <string>{6,29}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>player_0001_1_8_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,65},{56,57}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>player_0001_1_8_4_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,167},{48,57}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>player_0001_1_8_4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,202},{46,53}}</string>
                <key>offset</key>
                <string>{12,20}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>player_0001_1_8_5_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,192},{44,60}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>player_0001_1_8_5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,137},{56,53}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>player_0001_1_8_6_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,68},{46,62}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>player_0001_1_8_6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,179},{50,58}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>player_0001_1_8_7_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,132},{50,68}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>player_0001_1_8_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,0},{44,66}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,66}}</string>
                <key>sourceSize</key>
                <string>{44,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_0001_1_8.png</string>
            <key>size</key>
            <string>{255,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75ac309f5acf57d5297fd7d7ddbffc48:0ba8ec36b8e7ebac30fd713740e349b5:af84b52947597e1efa147a3e58ca3bfc$</string>
            <key>textureFileName</key>
            <string>player_0001_1_8.png</string>
        </dict>
    </dict>
</plist>