<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_0001_0_7_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,116},{58,60}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>player_0001_0_7_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{60,70}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>player_0001_0_7_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,79},{62,76}}</string>
                <key>offset</key>
                <string>{7,48}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>player_0001_0_7_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,70},{44,65}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>player_0001_0_7_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,76},{48,71}}</string>
                <key>offset</key>
                <string>{9,42}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>player_0001_0_7_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{52,78}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{52,78}</string>
            </dict>
            <key>player_0001_0_7_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{58,68}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>player_0001_0_7_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,152},{62,71}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>player_0001_0_7_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,158},{72,73}}</string>
                <key>offset</key>
                <string>{9,45}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>player_0001_0_7_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{64,74}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>player_0001_0_7_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,160},{70,70}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>player_0001_0_7_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,76},{74,68}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>player_0001_0_7_4_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,78}}</string>
                <key>offset</key>
                <string>{2,54}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,78}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>player_0001_0_7_4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{64,77}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>player_0001_0_7_4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{68,74}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>player_0001_0_7_5_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{70,74}}</string>
                <key>offset</key>
                <string>{11,48}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>player_0001_0_7_5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,80},{60,78}}</string>
                <key>offset</key>
                <string>{13,49}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>player_0001_0_7_5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,79},{58,77}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,77}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>player_0001_0_7_6_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{78,61}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>player_0001_0_7_6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,149},{68,68}}</string>
                <key>offset</key>
                <string>{10,42}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>player_0001_0_7_6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,157},{62,73}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>player_0001_0_7_7_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,176},{68,51}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>player_0001_0_7_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{68,60}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>player_0001_0_7_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,72},{66,68}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_0001_0_7.png</string>
            <key>size</key>
            <string>{504,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89538d5a0b992c73d8660a0bdab214d2:a04bb76810d6a3ebcd99a245a6c66ed3:a030845e93afbd11e54296d5b28e2e7b$</string>
            <key>textureFileName</key>
            <string>player_0001_0_7.png</string>
        </dict>
    </dict>
</plist>